@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

$font: 'IBM Plex Sans Arabic';

$darker-blue: #03045e;
$dark-blue: #0077b6;
$blue: #00b4d8;
$light-blue: #90e0ef;
$lighter-blue: #caf0f8;

$light-gray: #ebebeb;
$dark-gray: #c0c0c0;

$white: #ffffff;

$black: #00171f;