
.city-card {
  border-radius: 0.5em;
  margin: 2em 1em 2em 1em;
  padding: 1em;

  background-color: $dark-blue;
  color: $white;
}

@media screen and (max-width: 767px) {
  .city-card {
    margin: 2em 2em 0 2em;

    &:last-of-type {
      margin-bottom: 2em;
    }
  }
}

.card-summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h2, h4 {
    margin-top: 0.4em;
  }

  h2 {
    font-size: 1.1rem;
  }

  h4 {
    cursor: default;
  }
}

.detail-link, .modal-open {
  text-decoration: none;
  color: $white;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    color: $dark-gray;
  }
}

.modal-open {
  font-size: 0.7rem;
}