#root > div {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  display: grid;
  grid-template-rows: 1fr repeat(5, 3fr);
  grid-template-columns: repeat(5, 1fr);

  background: linear-gradient($darker-blue, $light-blue);
  color: $white;
}

.home-link-wrapper {
  grid-row: 1;
  grid-column: 1 / span 5;
}

.city-card {
  grid-row: 3;
}

@media screen and (max-width: 767px) {
  #root > div {
    grid-auto-flow: row;
  }
  .city-card {
    grid-row: auto;
    grid-column: 1 / span 5;
  }
}

#today-card {
  grid-row: 2 / span 2;
}

.detail-card {
  grid-row: 4 / span 3;
  grid-column: 1 / span 5;
}

#today-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 5fr;
  .detail-title {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  .today-detail {
    grid-row: 2;
  }
}

.five-day {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}




